.buttonsContainer {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}

.responseContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  height: 300px;
}

.imageContainer {
}

.image {
}

.textContainer {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin: 20px;
}

.code {
  font-size: 30px;
  font-weight: 500;
}

.text {
  font-size: 16px;
  font-weight: 500;
}
.info {
  font-size: 16px;
  font-weight: 500;
}
