.greetingForm {
  margin-top: 20px;
}

.inputAndButtonContainer {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}

.error {
  color: #cc0000;
}

.input {
}

.input:focus {
  border-color: #0ea2ed;
}

.errorInput {
  color: #cc0000;
}

.button {
  background-color: #0ea2ed;
  color: #212a34;
  font-weight: bold;
  font-size: medium;
  width: 50px;
  border-radius: 3px;
}

.button:focus {
}

.button:active {
  color: #ddeeff;
  background-color: #0cc759;
}

.button:disabled {
}

.text {
  color: #00cc22;
  font-weight: bolder;
}

.greeting {
  color: blue;
}
