.button {

}

.disabled {

}

.secondary {
    color: indigo;
    background-color: greenyellow;
}

.default {
}

.red {
      color: #DDEEFF;
    background-color: #cc0000;
}

.default:hover {
    background-color: lightslategrey;
    color: #212A34;
}

.red:hover {
    background-color: red;

}

.secondary:hover {
    color: #DDEEFF;
    background-color: green;
}


.default:active {

}

.secondary:active {
}

.red:active {
}

.button:disabled {
    opacity: 1;
    color: gray;
}
