.button {
}

.disabled {

}

.secondary {
    color: indigo;
}

.default {
}

.red {
      color: #cc0000;
}

.default:hover {
}

.red:hover {

}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
    opacity: 1;
    color: gray;
}
